.project{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 10px;
     margin: 50px;
     padding: 10px;
     border: 1px solid rgb(170, 66, 66);
     height: 420px;
     width: 86%;
     border-radius: 7px;
}

/* .project:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
} */

.text_type{
  color: rgb(200, 202, 204) !important;
  font-size: 13px;
}

.button_color{
  background-color: darkcyan !important;
  color: white !important;
  border-radius: 6px;
  font-weight: 500;
}

.discretion_type{
    font-size: 15px;
    color: darkcyan !important;
}

.name_text{
    font-size: 24px;
    color: rgb(214, 33, 33) !important;
}



@media only screen and (max-width:688px) {
    .project{
      grid-template-columns: repeat(1, 1fr);
      height: 800px;
      width: 86%;
     
    }

   
  }

  @media only screen and (min-width:689px) and (max-width: 991px) {
    .project{
      grid-template-columns: repeat(1, 1fr);
      height: 800px;
      width: 86%;
    } 
  
    

     
    
    
  }