#contact {
    background-color: black !important;
    
}

.contact_section {
    background-color: rgb(0, 0, 0);
    margin-top: -570px;
}

.contact_type {
    color: rgb(12, 241, 241) !important;
    font-size: 35px;
    font-weight: 600;
    font-family: cursive;
   
}


.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact form input,
textarea {
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid brown;
    border-radius: 5px;
}

.send_button {
    background-color: rgb(238, 14, 107) !important;
    color: white !important;
}

.footer_text {
    color: white !important;
    font-size: 11px;
}

.footer_add {
    font-size: 10px;
}

.contact_link {
    margin-left: 10px;
}


@media only screen and (max-width:688px) {
    #contact {
        margin-top: 400px;
    }

}

@media only screen and (min-width:689px) and (max-width: 991px) {

    #contact {
        margin-top: 200px;
    }
}