h1 {
  font-size: 50px;
  color: rgb(28, 243, 243) !important;
  font-family: monospace;
}

p {
  font-size: 20px;
  color: white !important;
  font-family: cursive;
}

hr{
  color: white !important;
}

.home-image img{
  width: 260px;
  height: 260px;
  border-radius: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}


#home-section {
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

.static-txt {
  color: rgb(182, 110, 110);
  font-size: 23px;
}


.program {
  display: flex;
  color: #FF0000;
  font-size: 27px;
  animation: type 3s steps(19);
  overflow: hidden;
  white-space: nowrap;
  font-family: consolas;
  width: 19ch;
  margin-left: 550px;
  font-family: cursive;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 19ch;
  }
}


.all-link {
  font-size: 30px;
}
.fa-github{
  color: rgb(246, 244, 241) !important;
}
.fa-linkedin{
  color: blue !important;
}
.fa-instagram{
  color: rgb(246, 55, 55) !important;
}

.home-button button{
  background-color: rgb(28, 243, 243) !important;
  border: 1px solid rgb(28, 243, 243) !important;
  color: rgb(31, 31, 31) !important;
  width: 10%;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.main-button:hover{
  z-index: 1;
  transform: scale(1.05);

}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.typewriter_text {
  font-size: 20px;
  color: rgb(245, 12, 109) !important;
}


.text_cursor {
  color: rgb(241, 7, 105) !important;
  font-size: 25px;
  font-weight: 700;
}

.more-button{
  padding: 0.5em;
  border: 1px solid rgb(28, 243, 243) !important;
  background-color: black !important;
  color: rgb(28, 243, 243) !important;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.more-button:hover{
  z-index: 1;
  transform: scale(1.05);
  color: black !important;
  background-color: rgb(28, 243, 243) !important;
}



@media only screen and (max-width:688px) {
  #home-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .all_link {
    font-size: 20px;
    margin-right: 90px;
  }


  .home-button {
    margin-right: 120px;
  }

  .image {
    margin: 50px;
    width: 50%;

  }
}

@media only screen and (min-width:689px) and (max-width: 991px) {
  #home-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .all_link {
    font-size: 13px;
    margin-right: 120px;
  }


  .home-button {
    margin-right: 120px;
  }
}